.page-container .nav-tabs #uncontrolled-tab-example-tab-members.active, .page-container .nav-tabs #uncontrolled-tab-example-tab-details.active {
    color: #dc3545;
}

.page-container .nav-tabs #uncontrolled-tab-example-tab-members:hover, .page-container .nav-tabs #uncontrolled-tab-example-tab-details:hover {
    color: #108003;
}

.page-container .nav-tabs #uncontrolled-tab-example-tab-members, .page-container .nav-tabs #uncontrolled-tab-example-tab-details {
    color: #495057
}