.footer-container {
    background: #c5c5c5;
}

.subscribe-text {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}

.seperator-line {
    border-top: 2px solid black;
}

.list-group-item {
    background: transparent !important;
    border: 0px !important;
    padding: .5rem 1.25rem !important;
}

.list-group-item:first-child {
    border-bottom: 1px solid #a09e9e !important;
    padding-top: 0 !important;
    white-space: nowrap;
    color: #0f879a;
}

.disclaimer {
    font-size: 12px;
    text-align: center;
}

.footer-container #mc_embed_signup {
    background-color: transparent;
}

.footer-container #mc_embed_signup .button {
    background: #17a2b8;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

#mc_embed_signup label {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}

#mce-EMAIL {
    margin-right: 5px !important;
    font-family: sans-serif;
}